.g-dropdown
  display: flex
  justify-content: space-between
  align-items: center

  & select
    margin: 10px 0 10px 10px
    font-family: inherit
    background: transparent
    color: inherit
    border: none
    outline: none
    border-bottom: 2px solid currentColor
    padding: 5px
    font-size: 0.9em

  & option
    color: black