.g-robot-map
  font-size: 35px
  width: 8.2296em
  height: 16.4592em
  background: #75726f
  position: relative

  & .robot
    background: blue
    width: 0.9144em
    height: 1.02362em
    border-radius: 0.2em

  & .point
    background: red
    width: 4px
    height: 4px
    border-radius: 50%
    position: absolute
    transform: translate(-2px, 2px)
