.g-robot-map
  font-size: 13px
  width: 27em
  height: 54em
  background: #75726f
  position: relative

  & .robot
    background: green
    width: 2em
    height: 3em

  & .point
    background: red
    width: 4px
    height: 4px
    border-radius: 50%
    position: absolute
    transform: translate(-2px, 2px)
